// colors
$colors: (
    primary: #0078db,
    secondary: #0059a3,
    white: #fff,
    lighter-gray: #f9f9f9,
    light-gray: #e8e8e8,
    gray: #ccc,
    dark-gray: #aaa,
    darker-gray: #666,
    black: #333
);

// visual
$padding: 1em;
$border-radius: 3px;
