// colors
$colors: (
    primary: #0078db,
    secondary: #0059a3,
    white: #fff,
    lighter-gray: #f9f9f9,
    light-gray: #e8e8e8,
    gray: #ccc,
    dark-gray: #aaa,
    darker-gray: #666,
    black: #333
);

// branding
$thumbs-up: #01a52f;
$thumbs-down: #fd0019;

// branding * external
$twitter: #00ace5;
$facebook: #1a5689;
$googleplus: #e3403a;

// fonts
$sans: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;

// visual
$padding: 1em;
$border-radius: 3px;

// break points
$breakpoints: (
    small: 767px,
    medium: 992px,
    large: 1200px
);
