@import "config";

$arrow-height: 10px;
$arrow-width: 14px;

.tooltip {
    display: none;
    position: absolute;
    overflow: visible;
    padding: 0;
    border: 1px solid $gray;
    border-radius: $border-radius;
    background: $white;
    box-shadow: 0 0 6px $gray;
    color: $dark-gray;

    &, &:before, &:after, *, *:before, *:after {
        box-sizing: border-box;
    }

    &:before, &:after {
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        content: '';
        // improves rendering for webkit browsers
        -webkit-transform: rotate(360deg);
    }

    &:before {
        bottom: -($arrow-height + 1);
        margin-left: -(($arrow-width + 2)/2);
        border-width: ($arrow-height + 1) (($arrow-width + 2)/2) 0 (($arrow-width + 2)/2);
        border-color: $dark-gray transparent transparent transparent;
    }

    &:after {
        bottom: -($arrow-height);
        margin-left: -($arrow-width/2);
        border-width: $arrow-height ($arrow-width/2) 0 ($arrow-width/2);
        border-color: $white transparent transparent transparent;
    }
}

.tooltip-visible {
    display: block;
}

.tooltip[data-position="top-left"] {
    &:before, &:after {
        margin-left: 0;
    }

    &:before {
        left: $arrow-width - 1;
    }

    &:after {
        left: $arrow-width;
    }
}

.tooltip[data-position="top-right"] {
    &:before, &:after {
        left: auto;
        margin-left: 0;
    }

    &:before {
        right: $arrow-width - 1;
    }

    &:after {
        right: $arrow-width;
    }
}

.tooltip[data-position="right"] {
    &:before, &:after {
        top: 50%;
        margin-left: 0;
    }

    &:before {
        left: -($arrow-height + 1);
        margin-top: -(($arrow-width + 2)/2);
        border-width: (($arrow-width + 2)/2) ($arrow-height + 1) (($arrow-width + 2)/2) 0;
        border-color: transparent $dark-gray transparent transparent;
    }

    &:after {
        left: -($arrow-height);
        margin-top: -($arrow-width/2);
        border-width: ($arrow-width/2) $arrow-height ($arrow-width/2) 0;
        border-color: transparent $white transparent transparent;
    }
}

.tooltip[data-position="right-top"] {
    @extend .tooltip[data-position="right"];

    &:before, &:after {
        margin-top: 0;
    }

    &:before {
        top: $arrow-height - 1;
    }

    &:after {
        top: $arrow-height;
    }
}

.tooltip[data-position="right-bottom"] {
    @extend .tooltip[data-position="right"];

    &:before, &:after {
        top: auto;
        margin-top: 0;
    }

    &:before {
        bottom: $arrow-height - 1;
    }

    &:after {
        bottom: $arrow-height;
    }
}


.tooltip[data-position="bottom"] {
    &:before {
        top: -($arrow-height + 1);
        border-width: 0 (($arrow-width + 2)/2) ($arrow-height + 1) (($arrow-width + 2)/2);
        border-color: transparent transparent $dark-gray transparent;
    }

    &:after {
        top: -($arrow-height);
        border-width: 0 ($arrow-width/2) $arrow-height ($arrow-width/2);
        border-color: transparent transparent $white transparent;
    }

}

.tooltip[data-position="bottom-left"] {
    @extend .tooltip[data-position="bottom"];

    &:before, &:after {
        margin-left: 0;
    }

    &:before {
        left: $arrow-width - 1;
    }

    &:after {
        left: $arrow-width;
    }
}

.tooltip[data-position="bottom-right"] {
    @extend .tooltip[data-position="bottom"];

    &:before, &:after {
        left: auto;
        margin-left: 0;
    }

    &:before {
        right: $arrow-width - 1;
    }

    &:after {
        right: $arrow-width;
    }
}

.tooltip[data-position="left"] {
    &:before, &:after {
        top: 50%;
        left: auto;
        margin-left: 0;
    }

    &:before {
        right: -($arrow-height + 1);
        margin-top: -(($arrow-width + 2)/2);
        border-width: (($arrow-width + 2)/2) 0 (($arrow-width + 2)/2) ($arrow-height + 1);
        border-color: transparent transparent transparent $dark-gray;
    }

    &:after {
        right: -($arrow-height);
        margin-top: -($arrow-width/2);
        border-width: ($arrow-width/2) 0 ($arrow-width/2) $arrow-height;
        border-color: transparent transparent transparent $white;
    }
}

.tooltip[data-position="left-top"] {
    @extend .tooltip[data-position="left"];

    &:before, &:after {
        margin-top: 0;
    }

    &:before {
        top: $arrow-height - 1;
    }

    &:after {
        top: $arrow-height;
    }
}

.tooltip[data-position="left-bottom"] {
    @extend .tooltip[data-position="left"];

    &:before, &:after {
        top: auto;
        margin-top: 0;
    }

    &:before {
        bottom: $arrow-height - 1;
    }

    &:after {
        bottom: $arrow-height;
    }
}

.tooltip-content {
    overflow: hidden;
    padding: $padding/1.5 $padding;
}
